*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{ 
background: url(Rent.jpg);
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
width: auto;
}

nav{
    height: 80px;
    width: 100%;
    background: #34495e;
    position: fixed;
    margin-top: -25px;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

.logo{
    font-family: fantasy;
    font-style: italic;
}

nav ul{

    float: right;
    margin-right: 40px;
}

nav li{

    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{

    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;

}

.active,a:hover{
    border: 1px solid white;
}

nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#titel {
    color: white;
    padding: 10px;
}

.title {
    display: flex;
    justify-content: center;
}

.hoofdtitel{
    margin-top: -35px;
    padding-bottom: 35px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.container1{
    padding: 45px 45px;
    border-radius: 25px;
    margin-top: 65px;
}

.fietsentekst{
    text-align: center;
    color: white;
}

.border{
    padding: 25px 50px ;
    background-color: black;
    border-radius: 35px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}

#fiets{
    padding-bottom: 20px;
    display: none;
}

.alles{
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex: 1 1 200px;
}

.radio{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 15px;
    width: 280px;
}

.binnen {
    margin: 10px 0px;
}

.button{
    padding: 10px;
}

#button{
    padding: 10px 55px;
    color: white;
    border: 1px solid black;
    background-color: rgb(5, 209, 5);
    border-radius: 15px;
    font-weight: 900;
    font-size: 15px;
    transition: 1.5s;
}

#button:hover{
    background-color: rgb(4, 136, 4);
    transition: 1s;
}

#button1{
    padding: 10px 60px;
    margin-top: 10px;
    color: white;
    background-color: rgb(5, 8, 209);
    border-radius: 10px;
    font-weight: 900;
    font-size: 15px;
    transition: 1.5s;
}

#button1:hover{
    background-color: rgb(4, 23, 110);
    transition: 1s;
}

#img{
    height: 125px;
    width: 200px;
}

.checked {
    color: orange;
}

.p1{
    background-color: white;
    border-radius: 0px;
    border: 1px solid black;
    padding: 0px;
}

@media only screen and (max-width: 1048px){

    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }

    nav{
        position: fixed;
        margin-top: -25px;
    }


    
    nav a{
        font-size: 17px;
    }

}



@media only screen and (max-width: 909px){
    #icon{
        padding-right: 10px;
    }

    nav #icon{
        display: block;
    }

    .active,a:hover{
        border: none;
    }

    nav ul{
        margin-right: -0px;
        position: fixed;
        width: 100%;
        height: 50vh;
        background: #2f3640;
        right: -100%;
        text-align: center;
        transition: all 0.3s;
    }

    nav li {
        display: block;
        padding: 25px 0px;
        line-height: 25px;
    }

    nav li:hover a{
    color: black;
    transition: 2s;
    }

    nav li:hover{
    background-color: white;
    transition: 2s;
    }
    
    nav a{
        font-size: 20px;
    }

    a.active{
        border: none;
    }

   nav ul.show{
       right: 0;
   }

}
@media only screen and (max-width: 1500px){
    .border{
        border-radius: 35px;
        border: 1px solid white;
        padding: 20px 35px;
    }
    .container1{
        width: 60%;
    }

}

@media only screen and (max-width: 1200px){
    .border{
        border-radius: 35px;
        border: 1px solid white;
        padding: 20px 50px;
    }

    .container1{
        width: 60%;
    }

}

@media only screen and (max-width: 800px){
    .border{
        border-radius: 35px;
        border: 1px solid white;
        padding: 20px 50px;
    }

    .container1{
        width: 69%;
    }

}